table{
    border: #333333 2px solid;
    width: 80%;
    color: #333333;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #ffffff;
    align-items: center;
    border-collapse: collapse;
}
h1 {
    color: #333333;
    font-family: Arial, sans-serif;
    text-align: center;
}
p {
    color: #666666;
    font-family: Arial, sans-serif;
    text-align: center;
}
body {
    background-color: lightgoldenrodyellow;
}
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #333333;
}

th {
    text-align: center;
    border-radius: 0px;
    padding: 10px;
    border: 1px solid #333333;
}

.first {
    font-weight: bold;
    text-align: center;
    border-color: pink;
    background-color: pink;
    border: 1px solid #333333;
}

.firstTD {
    font-weight: bold;
    text-align: left;
    border-color: pink;
    background-color: pink;
    border: 1px solid #333333;
}
a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: underline;
    color: #000000;
}

.detailTD {
    font-weight: bold;
    text-align: left;
}