h1 {
    color: #333333;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    background-color: rgb(131, 24, 31);
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
    font-size: 1.3vw;
}
.navbar a {
    margin: 0 3vw;
    text-decoration: none;
    color: #ffffff;
}
.navbar a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.details-header {
    background-color: rgb(175, 175, 175);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-header a {
    color: white;
    text-decoration: none;
    padding: 1vw;
    background-color: rgb(131, 24, 31);
    border-radius: 0.2vw;
    margin-left: 1vw;
}

.backbutton {
    text-align: left;
}

.details-pagetitle {
    text-align: center;
    font-size: 1.7vw;
    margin-right: 9vw;
}

.details-header p .details-header .empty {
    flex: 1;
}

.property-details {
    background-color: #ffffff;
    padding: 2vw;
    margin: auto;
    max-width: 70%;
}
.details-text {
    vertical-align: top;
}
.details-image {
    width: 40%;
    border-radius: 0.5vw;
    text-align: right;
}
.header {
    background-color: rgb(175, 175, 175);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pagetitle{
    text-align: center;
    font-size: 1.7vw;
}

.search-bar {
    margin: 1vw auto;
    padding: 1vw;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.listings {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.listings td {
    padding: 2vw;
    vertical-align: top;
}

.listing-image img {
    width: 100%;
    max-width: 100vw;
    display: block;
    margin-bottom: 10px;
}

.listing {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: rgb(131, 24, 31);
}

.ul-listing{
    list-style-type: none;
    padding: 0;
    margin: 0;
}