h1 {
    color: #333333;
    font-family: Arial, sans-serif;
    text-align: center;
}

.navbar {
    background-color: rgb(131, 24, 31);
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}
.navbar a {
    margin: 0 3vw;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.navbar a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}